.center {
    display: flex !important;
    justify-content: center;
}

.card-body {
    box-shadow: 0px 0.2em 0.4em rgb(0 0 0 / 40%);
    border-radius: 10px;
}

.card {
    box-shadow: 0px 0.2em 0.4em rgb(0 0 0 / 40%);
    border-radius: 10px;
}

.footer-home {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    padding-top: 10px;
    background-color: #005b96 !important;
    z-index: 99;
}

.footer-home a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.footer-home a:hover {
    color: rgba(0, 0, 0, 0.5);
}

.widthFix {
    width: 100% !important;
}
