<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bolus Calculations list</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <!--SCRIPTS-->
    <script>
        var exports = {};
    </script>
    <script type="module" src="../../js/Models/getInputs.js"></script>
    <script type="module" src="../../js/Logic/cookieHelper.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="module">
        import {cookieHelper} from "../../js/Logic/cookieHelper.js"

        if(cookieHelper.getCookie("id") == null)
        {
            let sessionStorage = window.sessionStorage;
            sessionStorage.setItem('loggedIn', 'false');
            location.replace("http://localhost:8181/MVC/Views/index.html");
        }

        $(function(){
          $("#navbar").load("../include/navbar.html");
        });
        $(function(){
          $("#footer").load("../include/footer.html");
        });
    </script>
</head>

<body>
    <div id="navbar"></div>
    <div class="container">
        <h1 class="center">Bolus Calculations list</h1>
        <button class="btn btn-secondary" onclick="location.href='/./MVC/Views/calculate.html'" type="button">Create new
            calculation</button>
        <br>
        <div class="row center">
            <div class="col-md-8">
                <div id="buttonbox1">
                    <center><button class="btn btn-primary" id="buttonCalculationList">View calculations</button>
                    </center>
                </div>
                <br>
                <div class="card">
                    <div id="boluslistbox">
                        <center>
                            <h3 id="boluslist">List is empty now</h3>
                        </center>
                        <canvas id="bolusChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div id="footer"></div>
</body>

</html>